<div
	marginwidth="0"
	marginheight="0"
	style="
		width: 100%;
		background-color: #fff;
		margin: 0;
		padding: 0;
		font-family: &quot;Open Sans&quot;, sans-serif;
	"
>
	<table
		width="100%"
		border="0"
		cellpadding="0"
		cellspacing="0"
		align="center"
		class="m_3356917347295897437container"
		style="
			border-collapse: collapse;
			width: 100%;
			min-width: 100%;
			height: auto;
		"
	>
		<tbody>
			<tr>
				<td
					width="100%"
					valign="top"
					bgcolor="#ffffff"
					style="padding-top: 20px"
				>
					<table
						width="580"
						class="m_3356917347295897437deviceWidth"
						border="0"
						cellpadding="0"
						cellspacing="0"
						align="center"
						bgcolor="#ffffff"
						style="border-collapse: collapse; margin: 0 auto"
					>
						<tbody>
							<tr>
								<td
									valign="top"
									align="center"
									style="padding: 0"
									bgcolor="#ffffff"
								>
									<a href="<%= domain %>" target="_blank"
										><img
											class="m_3356917347295897437deviceWidth CToWUd"
											src="<%= domain %>/colored-logo-text.png"
											alt=""
											border="0"
											width="200"
											style="display: block; margin-top: 30px"
											data-bit="iit"
									/></a>
								</td>
							</tr>
							<tr>
								<td
									style="
										font-size: 13px;
										color: #282828;
										font-weight: 400;
										text-align: left;
										font-family: &quot;Open Sans&quot;, sans-serif;
										line-height: 24px;
										vertical-align: top;
										padding: 15px 8px 10px 8px;
									"
									bgcolor="#ffffff"
								>
									<h1
										style="
											font-weight: 600;
											margin: 30px 0 50px 0;
											text-align: center;
											color: #9999ff;
										"
									>
										Reset password
									</h1>
									<a
										href="<%= link %>"
										style="
											padding: 10px;
											width: 300px;
											display: block;
											text-decoration: none;
											border: 1px solid #9999ff;
											font-weight: 700;
											font-size: 14px;
											font-family: &quot;Open Sans&quot;, sans-serif;
											color: #fff;
											background: #9999ff;
											border-radius: 5px;
											line-height: 17px;
											margin: 0 auto;
											text-align: center;
										"
										target="_blank"
										><span class="il">Reset</span> My Password</a
									>
									<p>
										You’re receiving this email because you recently requested
										to reset password. If this wasn’t you, please ignore this
										email.
									</p>
								</td>
							</tr>
						</tbody>
					</table>
				</td>
			</tr>
		</tbody>
	</table>
</div>
